.DS_Store
scripts/bootstrap.js
scripts/bootstrap.min.js
scripts/jquery-3.6.0.min.js
scripts/typeit.umd.js
stylesheets/bootstrap-theme.css
stylesheets/bootstrap-theme.min.css
stylesheets/bootstrap.css
stylesheets/bootstrap.min.css
bootstrap*
typeit.umd.js
jquery*
npm*